body {
	font-family: arial, verdana;
	font-size: 8pt;
	margin: auto;
	width: 450px;
	margin-top: 25px;
	margin-bottom: 50px;
}

img {
	width: 100%;
	height: auto;
}

table {
	width: 100%;
	background-color: #f8f9fa;
    color: #222;
    border: 1px solid #a2a9b1;
    border-spacing: 2px;
    border-collapse: collapse;
    line-height: 1.6;
    font-size: 100%;
}

th {
	text-align: left;
	border: 1px solid #a2a9b1;
	background-color: #cccccc;
}

h1 {
	font-size: 32pt;
	font-family: times new roman;
	text-shadow: 0px 0px 20px #99ff00;
}

h2 {
	text-shadow: 0px 0px 10px #99ff00;
}
