body {
	font-family: arial, verdana;
	font-size: 8pt;
	margin: auto;
	width: 450px;
	margin-top: 25px;
	margin-bottom: 50px;
	border: 10px dotted #a0a0a0;
	padding: 10px;
}

img {
	width: 100%;
	height: auto;
}

table {
	width: 100%;
	background-color: #f8f9fa;
    color: #222;
    border: 1px solid #a2a9b1;
    border-spacing: 2px;
    border-collapse: collapse;
    line-height: 1.6;
    font-size: 100%;
}

th {
	text-align: left;
	border: 1px solid #a2a9b1;
	background-color: #cccccc;
}